html {
	background-image: url("stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


.header {
    margin-top: 2em;
	padding-bottom: 2em;
	
}

.header h1{
    text-align: center;

    font-size: 60px;
}
.header img{
    max-height: 70px;
    margin-left: .5em;
}
body {
	color: white;
}

.navbar {
	opacity: 75%;
}

ul {
  list-style-type: none50  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: gold;
}

.active {
  background-color: gold;
}

.intro {
	padding-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90vw;
}

.intro img {
	float: left;
	width: 50vw;
}

.intro p {
	margin-left: 55%;
	padding-left: 20px;
}	

.signature {
	clear: left;
	padding-top: 0.5em;
	margin-left: 5%;
	margin-right: 5%;
}

.signature a {
	color: white;
}

a {
  color: white;
}

.about {
  margin-left: 5%;
  margin-right: 5%;
  width:  90%;
  padding-top: 0.75em;
  margin-bottom: 5%;

}