.header {
	text-align: center;
	text-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px darkblue;
	padding-bottom: 0px;

}

h2 {
	font-size: 3em;
}

.content a{
	color: black;
}

.top-description {
	width: 50%;
	margin-left: 25%;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 1em;
}

#search {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 30%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 5px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  border-radius: 10px;
  margin-left: 33%;
  box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px darkblue;

}

.left-history {
	margin-left: 20%;
	width: 60%;
	height: 75%;
	background-color: white;
	border-radius: 2em;
	padding: 1.5em;
	text-align: center;
	box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px darkblue;
}

.right-history {
	width: 60%;
	height: 75%;
	margin-left: 100%;
	background-color: white;
	border-radius: 2em;
	padding: 1.5em;
	text-align: center;
	box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 10px darkblue;
}

.left-history:hover {
	width: 70%;
	margin-left: 15%;
}

.right-history:hover {
	width: 70%;
}

.left-content {
	padding-bottom: 5%;
	width: 50%;
	height: 25%;
}

.right-content {
	padding-bottom: 5%;
	width: 50%;
	height: 25%;
}

.content {
	color: black;
	margin-bottom: 5vh;
}